<h1>Show</h1>

<div class="message">
	<div class="content"><%= @message.content %></div>

	<div class="author"><%= @message.author %></div>
	<div class="timestamp"><%= @message.created_at %></div>
</div>